body{
    background-color: gold;
}
.sct{
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
}
.right-side{
    position: absolute;
    right: 0;
    background-color: black;
    width: 40%;
    height: 100%;
}
.detail p{
        color: gold;
        margin: 30px 0px;
        line-height: 40px;
}

.right-side div:first-child{
     font-size: 1.2em;
     color: white;
  text-align: center;
  margin: 70px 0px;
}
.right-side section{
    position: absolute;
    bottom: -90px;
    left: -80px;
}
.left-side{
 z-index: -1;
   position: absolute;
    left: 0;
    background-color: gold;
    width: 60%;
    height: 100%;
}
.left-side div:first-child{
      color: transparent;              /* Makes the inside transparent */
  -webkit-text-stroke: 2px black;  /* Outline width & color */
  display: flex;
  padding-top: 100px;
}
.left-side div:first-child section{
    list-style-type: square black;
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 19px;
    height: 40%;
    width: 100%;
    border: 1.2px solid black;
}
.left-side div:first-child div{
    width: 50%;
}
.left-side img{
        box-shadow: 2px black;
        transform: rotate(15deg);
}

/*RESPONSIVE CODE */
@media(max-width: 1002px){
  .left-side img{
        box-shadow: 2px black;
        transform: rotate(15deg);
        width: 60%;
        position: absolute;
        bottom: 0;
}
}

/* Responsive adjustments for 995px to 806px */
@media (max-width: 995px) and (min-width: 820px) {
  .right-side {
    width: 45%;
  }

  .left-side {
    width: 55%;
  }

  .left-side img {
    width: 400px;
    height: 400px;
    transform: rotate(10deg);
    position: absolute;
    bottom: -90px;
    left: 20px;
  }
  .right-side{
    padding-top: 100px;
  }
.right-side section{
    bottom: 50px;
}
  .right-side section img {
    width: 400px;
    height: 400px;
  }

  .left-side div:first-child section {
    width: 80%;
    font-size: 0.95em;
    padding: 15px;
  }

  .detail p {
    font-size: 1em;
    line-height: 32px;
    margin: 20px 0;
  }

  .right-side div:first-child {
    font-size: 1.1em;
    margin-top: 40px;
  }
}


@media(max-width: 768px){
.sct{
position: relative;
height: auto;
top: -100px;
}
.right-side,
.left-side{
position: relative;
width: 100%;
}
.right-side{
padding: 40px 10px;
text-align: center;
font-size: 0.9em;
height: 100vh;
}
.right-side section{
position: relative;
bottom: 200px;
left: 0;
margin-top: 20px;
}
.right-side section img{
width: 70%;
}
.left-side div:first-child{
flex-direction: column;
padding: 20px;
}
.left-side img{
    display: none;
width: 60%; 
margin-bottom: 10px;
transform: rotate(0deg);
}
.left-side div:first-child section{
height: auto;
width: 90%;
margin-top: 100px;
}
}


@media(max-width: 480px){
.right-side div:first-child{
margin: 40px 0;
font-size: 1em;
}
.right-side section img{
width: 90%;
}
.left-side img{
width: 80%;
}
.left-side div:first-child section ul{
padding-left: 10px;
}
}