.sct{
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
}
.right-side{
    position: absolute;
    right: 0;
    background-color: black;
    width: 40%;
    height: 100%;
}
.detail p{
        color: gold;
        margin: 30px 0px;
        line-height: 40px;
}

.right-side div:first-child{
     font-size: 1.2em;
     color: white;
  text-align: center;
  margin: 70px 0px;
}
.right-side section{
    position: absolute;
    bottom: -90px;
    left: -80px;
}
.left-side{
 z-index: -1;
   position: absolute;
    left: 0;
    background-color: gold;
    width: 60%;
    height: 100%;
}
.left-side div:first-child{
      color: transparent;              /* Makes the inside transparent */
  -webkit-text-stroke: 2px black;  /* Outline width & color */
  display: flex;
  padding-top: 100px;
}
.left-side div:first-child section{
    list-style-type: square black;
    line-height: 30px;
    letter-spacing: 2px;
    padding-left: 19px;
    height: 40%;
    border: 1.2px solid black;
}
.left-side div:first-child div{
    width: 50%;
}
.left-side img{
        box-shadow: 2px black;
        transform: rotate(15deg);
}
