@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: purple;
    color: #fff;
}

/* Header Section */
.contact-header {
    text-align: center;
    padding: 80px 20px;
    background: url('close-up-futuristic-sneakers__2_-removebg-preview.png') center/cover no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.6);
}

.contact-header h1 {
    font-size: 3rem;
    font-weight: 700;
}

.contact-header p {
    margin-top: 10px;
    font-size: 1.1rem;
    opacity: 0.8;
}

/* Main Contact Section */
.main-contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 70px 10%;
}

.contact-info-card, .contact-form-card {
    background: #1a1a1a;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

.contact-info-card h2,
.contact-form-card h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.7rem;
}

.info-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-box i {
    font-size: 2rem;
    margin-right: 15px;
    color: purple;
}

.info-box h4 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.social-links a {
    color: white;
    margin-right: 12px;
    font-size: 1.7rem;
    transition: 0.3s ease;
}

.social-links a:hover {
    color: purple;
}

/* Contact Form */
.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: none;
    background: #0f0f0f;
    color: white;
    font-size: 1rem;
    outline: none;
}

textarea {
    height: 150px;
}

.send-btn {
    width: 100%;
    background: rgba(189, 164, 25, 0.781);
    padding: 14px;
    font-size: 1.1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.send-btn:hover {
    background: gold;
}

/* Map */
.map-section iframe {
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 9px;
    margin-top: 30px;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-header h1 {
        font-size: 2.4rem;
    }
}
