  body{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    /* MAIN BANNER */
    .sl-screen{
        height: 80vh;
        width: 100%;
        position: relative;
        top: -110px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(to bottom, purple, black);
        overflow: hidden;
        z-index: -1;
    }

    /* MOVING IMAGE */
    .sl-screen img{
        display: block;
        position: absolute;
        right: -40%;
        z-index: 2;
        animation: image 7s linear infinite;
        max-width: 70%;
    }

    @keyframes image {
        0%{ right: -40%; }
        20%,40%,60%,80%{ right: 33%; }
        100%{ right: 140%; }
    }

    /* SLIDING TEXT */
    .overlay-sub{
        width: auto;
        position: absolute;
        left: -200%;
        bottom: 40%;
        font-family: 'Oswald', sans-serif;
        font-size: 70px;
        color: white;
        z-index: 4;
        transform: rotate(-6deg);
        text-shadow: 0 6px 18px rgba(0,0,0,0.6);
        animation: text 7s linear infinite;
        white-space: nowrap; /*  prevent breaking */
    }

    @keyframes text {
        0%{ left: -200%; }
        20%,40%,60%,80%{ left: 20%; }
        100%{ left: 120%; }
    }

    .overlay-sub span{
        color: transparent;
        -webkit-text-stroke: 2px black;
    }

 
    /* PRODUCT SECTION */
    .products{
        padding: 0px 40px;
        background: #f5f5f5;
        text-align: center;
    }
    .products h2{
        width: 300px;
        font-size: 40px;
        font-family: Oswald, sans-serif;
        margin-bottom: 40px;
        animation-name: border-ani;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        color: black;
        border-bottom: 5px solid purple;
    }
@keyframes border-ani {
    0%{border-bottom: 5px solid purple;
       color: black;
    }
     100%{border-bottom: 5px solid black;
     color: purple;
    }
}
    .product-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 30px;
        padding: 10px;
    }
    .product-card{
        background: white;
        height: 350px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 20px rgba(227, 2, 235, 0.849);
        transition: .3s;
    }
    .product-card img{
        width: 70%;
        height: 60%;
        margin-bottom: 15px;
    }
    .product-card h3{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .product-card p{
        font-size: 14px;
        opacity: .8;
        margin-bottom: 15px;
    }
    .product-card button{
        padding: 10px 25px;
        border: none;
        background: black;
        color: white;
        font-size: 16px;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s ease-in;
    }
    .product-card button:hover{
        background: purple;
    }

    /* responsive sl-sec */
        @media(max-width: 768px){
        header{
            padding: 10px 20px;
        }
        .overlay-sub{
            font-size: 40px;
        }
        .sl-screen img{
            max-width: 90%;
        }
    }
    /* responsive sl-sec mobile */
        @media(max-width: 598px){
        header{
            padding: 10px 10px;
        }
        .overlay-sub{
            font-size: 40px;
        }
        .sl-screen img{
            max-width: 80%;
        }

         /* MOVING IMAGE */
    .sl-screen img{
        display: block;
        position: absolute;
        right: -40%;
        z-index: 2;
        animation: image 7s linear infinite;
        max-width: 70%;
    }

    @keyframes image {
        0%{ right: -40%; }
        20%,40%,60%,80%{ right: 20%; }
        100%{ right: 140%; }
    }

    /* SLIDING TEXT */
    .overlay-sub{
        width: auto;
        position: absolute;
        left: -200%;
        bottom: 40%;
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        color: white;
        z-index: 4;
        transform: rotate(-6deg);
        text-shadow: 0 6px 18px rgba(0,0,0,0.6);
        animation: text 7s linear infinite;
        white-space: nowrap; /*  prevent breaking */
    }

    @keyframes text {
        0%{ left: -200%; }
        20%,40%,60%,80%{ left: 10%; }
        100%{ left: 120%; }
    }

    }


