*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
header{
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    width: 80px;
    height: auto;
    margin: 0px 0px 0px 70px;
}
.pc{
    display: flex;
    margin-right: 200px;
    
}
.pc a{
    margin-left: 100px;
    text-decoration: none;
    font-size: 1.14em;
    font-family: ALGERIAN;
    color: white;
}
.pc div:first-child a{
    color: black;
}
.container{
    background-color: white;
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
}
.right{
    position: absolute;
    right: 0;
    background-color: black;
    width: 40%;
    height: 100%;
    animation-name: bgcolor;
    animation-duration: 8s ;
    animation-iteration-count: infinite;
}
@keyframes bgcolor {
    0%{background-color: black;}
     20%{background-color: rgb(14, 221, 14);}
     40%{background-color: cyan;}
      60%{background-color: orangered;}
       80%{background-color: purple;}
        100%{background-color: gold;}
}
/* transparent text */
.right div{
     font-size: 100px;
  color: transparent;              /* Makes the inside transparent */
  -webkit-text-stroke: 2px white;  /* Outline width & color */
  text-align: center;
  transform:rotate(-90deg); 
  position: absolute;
  right: 10px;
  bottom: 200px;
  font-family: serif ;
}
/* sneaker */
.right span{
    width: 750px;
    width: 800px;
    position: absolute;
    bottom: 70px;
    left: -450px;
     transform:rotate(-20deg); 
}
.right img{
    width: 100%;
    height: 100%;
}
.left{
  font-size: 30px;
 z-index: -1;
   position: absolute;
    left: 0;
     background-image: linear-gradient(to left, purple, black);
    width: 60%;
    height: 100%;
   padding-top: 200px;
    text-align: center;
}
@keyframes textcolor {
    0%{-webkit-text-stroke: 2px black;}
     20%{-webkit-text-stroke: 2px rgb(14, 221, 14);}
     40%{-webkit-text-stroke: 2px cyan;}
      60%{-webkit-text-stroke: 2px orangered;}
       80%{-webkit-text-stroke: 2px purple;}
        100%{-webkit-text-stroke: 2px gold;}
}
.left div:first-child{
     color: transparent;              /* Makes the inside transparent */
  -webkit-text-stroke: 2px black;  /* Outline width & color */
    animation: slide;
    animation-duration: 3s;
        animation-name: textcolor;
    animation-duration: 8s ;
    animation-iteration-count: infinite;
}
@keyframes slide {
    0%{transform: translateX(160px);}
}
.left .div{
    position: absolute;
    margin: 50px 0px;
    left: 20px;
    font-size: 40px;
    color: white;
}
/* mobile icon trigger*/
  /* Hamburger */
    .hamburger{
        display: none;
      cursor:pointer;
      background: none;
      border: none;
      width:50px;
      height:50px;
      align-items:center;
      justify-content:center;
      margin-right: 90px;
    }
    .hamburger img{
        width: 100%;
        height: 100%;
    }
    .hamburger.open .img{
      transform:rotate(45deg)
    }
    .hamburger.open .img::after{
      transform:rotate(-90deg);
      top:0
    }
        .hamburger .img::after{
      content:"";
      position:absolute;
      left:0;
      top:-7px;
      width:22px;
      height:2px;
      background:black;
      transition:transform .25s ease,
      top .25s ease
    }
/* slider */
    nav.mobile{
      position:fixed;
      top:0;
      right:-100%;
      height:40vh;
      width:250px;
      background: rgba(5, 4, 4, 0.98);
      border-radius: 0px 0px 0px 9px;
      padding:84px 18px 24px;
      display:flex;
      flex-direction:column;
      gap:18px;
      transition:right .35s cubic-bezier(.2,.9,.3,1);
      z-index:70;
    }
    nav.mobile.open{right:0;}
    nav.mobile a{
      color: white;
      text-decoration:none;
      font-size:18px;
      padding:10px;
      border-radius:8px
    }
      /* Close icon inside mobile nav */
    .mobile .nav-close{
      position:absolute;
      top:18px;
      right:18px;
      font-size:32px;
      color:white;
      cursor:pointer;
      user-select:none;
      line-height:1;
      border: 1px solid black;
    }
    .mobile .nav-close:hover{opacity:0.7}

    /* Adjustments for small screens */
    @media (max-width:900px){
      .container{flex-direction:column;
        align-items:center;
        text-align:center
    }
        .pc a{
    margin-left: 30px;
}
    }
@media (max-width:800){
   .pc a{
    margin-left: 20px;
   }
}

    /* Very smaller screens (mobile-devices) */
    @media (max-width:779px){
      .hamburger{display:flex;}
      header{padding:10px 12px;}
      .pc{
        display: none;
      }
    }

/* page responsive */
    @media (max-width:1150px){
.right{
    position: absolute;
    right: 0;
    background-color: black;
    width: 43%;
    height: 100%;
}
.right div{
     font-size: 90px;
  color: transparent;              /* Makes the inside transparent */
  -webkit-text-stroke: 2px white;  /* Outline width & color */
  text-align: center;
  transform:rotate(-90deg); 
  position: absolute;
  right: -70px;
  bottom: 200px;
  font-family: serif ;
}
/* sneaker */
.right span{
    width: 700px;
    position: absolute;
    bottom: 70px;
    left: -300px;
     transform:rotate(-20deg); 
}
.right img{
    width: 100%;
    height: 100%;
}
.pc a{
  margin-left: 70px;
}
    }
/* 1000px */
    @media (max-width:1000px){
.right{
    position: absolute;
    right: 0;
    background-color: black;
    width: 44%;
    height: 100%;
}

/* sneaker */
.right span{
    width: 700px;
    position: absolute;
    bottom: 70px;
    left: -230px;
     transform:rotate(-20deg); 
}
.right img{
    width: 100%;
    height: 100%;
}
    }
  
/* 903px */
    @media (max-width:1150px){
.pc a{
  margin-left: 60px;
}
    }

    @media (max-width:860px) {
      .pc a{
        margin-left: 40px;
      }
.left{
  font-size: 24px;
 z-index: -1;
   position: absolute;
    left: 0;
    background-color: purple;
    width: 60%;
    height: 100%;
   padding-top: 200px;
    text-align: center;
}
.left .div{
    position: absolute;
    margin: 50px 0px;
    left: 20px;
    font-size: 30px;
    color: white;
}
    }

/* 721px */
    @media (max-width:721px){

.right div{
     font-size: 80px;
  color: transparent;              /* Makes the inside transparent */
  -webkit-text-stroke: 2px white;  /* Outline width & color */
  text-align: center;
  transform:rotate(-75deg); 
  position: absolute;
  right: -70px;
  bottom: 200px;
  font-family: serif ;
}
/* sneaker */
.right span{
    width: 600px;
    position: absolute;
    bottom: 70px;
    left: -200px;
     transform:rotate(-20deg); 
}
.left{
  font-size: 25px;
 z-index: -1;
   position: absolute;
    left: 0;
    background-color: purple;
    width: 60%;
    height: 100%;
   padding-top: 100px;
    text-align: center;
}
.left .div{
    position: absolute;
    margin: 50px 0px;
    left: 20px;
    font-size: 30px;
    color: white;
}
    }

/* 598px */
   @media (max-width:598px){
.container{
    background-color: white;
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
    display: block;
}
.right{
  position: static;
    background-image: linear-gradient( to right, purple, black);
    width: 100%;
    height: 50%;
    z-index: 1;
    animation-name: bcolor;
    animation-duration: 3s ;
    animation-iteration-count: infinite;
}
@keyframes bcolor {
    0%{  background-image: linear-gradient(to right, purple, black);}
     25%{  background-image: linear-gradient(to top, purple, black);}
     50%{  background-image: linear-gradient(to left, purple, black);}
      75%{  background-image: linear-gradient(to bottom, purple, black);}
}

.right div{
     font-size: 60px;
  color: transparent;              /* Makes the inside transparent */
  -webkit-text-stroke: 2px white;  /* Outline width & color */
  text-align: center;
  transform:rotate(-45deg); 
  position: absolute;
  right: -130px;
 top: 20%;
  font-family: serif ;
}
/* sneaker */
.right span{
    width: 600px;
    position: absolute;
    bottom: 50%;
    left: -100px;
     transform:rotate(-20deg); 
}
.left{
  position: relative;
  font-size: 25px;
 z-index: 0;
    background-color: purple;
    width: 100%;
    height: 50%;
   padding-top: 30px;
    text-align: center;
}
.left .div{
    position: absolute;
    margin: 50px 0px;
    left: 20px;
    font-size: 30px;
    color: white;
}

@keyframes textcolor {
    0%{-webkit-text-stroke: 2px black;}
     40%{-webkit-text-stroke: 2px cyan;}
       80%{-webkit-text-stroke: 2px rgba(34, 27, 34, 0.856);}
        100%{-webkit-text-stroke: 2px gold;}
}
    }

    